header {
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 24pt;
    color: rgb(24, 170, 90);
}

.menu {
    margin-top: 10px;
    float: right;
    padding: 5px;
    margin: 5px;
    word-spacing: 15px;
}

.banner{
    width: 100%;
}

body {
    font-size: 12pt;
    color: #333333;
}


h2 {
    font-size: 14pt;
    color: #333333;
}

footer {
    color: #666666;
}