html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #333333;
    /* Margin bottom by footer height with a little room to accomodate small screens */
    margin: 0 0 400px 0;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 14pt;
}

footer {
    color: #666666;
}

header {
    font-size: 12pt;
    color: #333333;
    width: 100%;
    min-height: 600px;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

.navigation {
    line-height: 20pt;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 20px;
    margin: 0;
}

.menu {
    flex-grow: 0;
    flex-shrink: 1;
    padding: 20px;
    margin: 0;
}

.menu > span {
    padding-right: 10px;
}

/* To wrap all content in a page */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 20px;
}
