{%- set language = page.language | default(config.language) -%}
<!doctype html>
<html lang="{{ language }}">

<head>
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Define metadata -->
  <meta name="author" content="{{ config.site_author }}"/>
  <meta name="keywords" content="{{ config.keywords }}"/>

  <title>{{ config.site_name[language] }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/assets/fontawesome/css/all.css">

  <!-- Site favicon -->
  <link rel="shortcut icon" href="/assets/favicon.png">
{% endblock %}
</head>

<body>

  <header style="background-image: linear-gradient(to top, #00000000, #000000ff), url(/{{ page.banner }}) ;" >
  {% block header %}
    <div  class="container">
      <div class="navigation">
        <div class="brand">
          <a href="/">{{ config.site_name[language] }}</a>
        </div>
        <div class="menu">
            {% for name, url in config.site_menu[language].items() %}
              <span><a href="{{ url }}">{{ name }}</a></span>
            {% endfor %}
        </div>
        <div class="language_menu">
            {% for name, url in config.site_language_menu.items() %}
              <span><a href="{{ url }}">{{ name }}</a></span>
            {% endfor %}
        </div>
      </div>
    </div>
  {% endblock %}
  </header>

  {% block body %}
  {% endblock %}

  <footer>
  {% block footer %}
    <div  class="container">
      <p>
        © {{ config.year }} {{ config.site_author }}
        •
        Built using <a target="_blank" href="https://nene.leouieda.com/">Nēnē</a>
        •
        Source code
        <a target="_blank" href="https://github.com/{{ config.site_source }}">on Github</a>
        <i class="fab fa-github"></i>
      </p>
    </div>
  {% endblock %}
  </footer>

</body>

</html>
