{% extends "page.njk" %}

{%- set language = language | default(info.language) -%}

{% block content %}
    {{ content | safe }}

    <ul>
    {% for page in collections.posts %}
        <li>
            ({{ page.data.date.toISOString().split('T')[0].replaceAll('-', '/') }})
            <a href="{{ page.url }}">{{ page.data.title }}</a>
        </li>
    {% endfor %}
    </ul>

    <h2 id="contact">{{ info.contact.title[language] }}</h2>

    <ul class="fa-ul">
    {% for contact in info.contact.links %}
        <li>
        <i class="fa-li {{ contact.icon }}"></i>
        <a href="{{ contact.url }}">{{ contact.text }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
