<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <header>

        {% block title %}
            <h1>{{ title }}</h1>
        {% endblock %}

        <div class="menu">
            <a href="/">Home</a></li>
            <a href="/about">Sobre</a></li>
            <a href="/posts">Entrevistas</a></li>
        </div>

        <img class="banner" src="/assets/{{ image }}" alt="{{ image_alt }}"> 

    </header>

    <body>

        {% block content %}
            {{ content | safe }}
        {% endblock %}




        <hr>

        <footer>

        <p>Built using <a target="_blank" href="https://www.11ty.dev/">Eleventy</a></p>
        <p>Source code: <a target="_blank" href="https://github.com/acarolcolombo/caroldoscopio">Github</a></p>
        
        </footer>

    </body>
</html>