{% extends "page.njk" %}

{% block content %}

    <h1>{{ title }}</h1>

    <span class="story-date">{{ date.toISOString().split('T')[0].replaceAll('-', '/') }}</span>

    {{ content | safe }}

{% endblock %}
